body {
  margin: 0px;
}

.chatroom {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "channels title logout"
    "channels messages users"
    "channels chatbox .";
  grid-template-rows: 30px 1fr 50px;
  grid-template-columns: 180px 1fr 120px;
  grid-gap: 15px;
}

.title {
  margin-top: 15px;
  padding-left: 10px;
  grid-area: title;
  font-size: 18pt;
  font-weight: bold;
}

.logout {
  margin: 15px 15px 0 0;
  grid-area: logout;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #0b3c5d;
}
