.chatroom {
  margin: auto;
  border: solid 1px;
  padding: 10px;
  max-width: 1200px;
  display: grid;
  grid-template-areas:
    ". title logout"
    "channels messages users"
    ". chatbox .";
  grid-template-rows: 30px 1fr 40px;
  grid-template-columns: 140px 1fr 100px;
  grid-gap: 10px;
}

.title {
  grid-area: title;
  font-size: 18pt;
  font-weight: bold;
}

.logout {
  grid-area: logout;
}
