.messages {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column-reverse;
  grid-area: messages;
  overflow-y: hidden;
}

.messages:hover {
  overflow-y: auto;
}

.container {
  padding-top: 8px;
}
