.user {
  margin-bottom: 5px;
  width: 90%;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  overflow: hidden;
  max-width: 90%;
}

.offline {
  margin-top: 2px;
  position: relative;
  z-index: 1;
  height: 7px;
  width: 7px;
  background-color: #555;
  border-radius: 50%;
}

.online {
  margin-top: 2px;
  position: relative;
  z-index: 1;
  height: 7px;
  width: 7px;
  background-color: #1ec51e;
  border-radius: 50%;
}
