.message {
  padding: 7px 0 8px 10px;
}

.message:hover {
  background-color: rgba(241, 240, 240, 0.966);
}

.heading {
  padding-bottom: 2px;
}

.username {
  padding-right: 10px;
  font-size: 13pt;
  font-weight: bold;
}

.time {
  font-size: 10pt;
  color: grey;
}

.text {
  font-size: 12pt;
}
